<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cloudy</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <script src="http://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="container">
    <canvas id="myChart"></canvas>
    <script th:inline="javascript">
		let xData = /*[[${xData}]]*/ [];
	    let yData = /*[[${yData}]]*/ [];
	    let tData = /*[[${tData}]]*/ [];
	    let wData = /*[[${wData}]]*/ [];
	    let cData = /*[[${cData}]]*/ [];

	    let ctx = document.getElementById('myChart').getContext('2d');
	    let myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: xData,
                datasets: [{
                    label: 'Temperature',
                    data: yData,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Feels Like',
                    data: tData,
                    backgroundColor: 'rgba(153, 102, 255, 0.2)',
                    borderColor: 'rgba(153, 102, 255, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Wind',
                    data: wData,
                    backgroundColor: 'rgba(97, 112, 125, 0.5)',
                    borderColor: 'rgba(97, 112, 125, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Clouds',
                    data: cData,
                    backgroundColor: 'rgba(232, 93, 117, 0.2)',
                    borderColor: 'rgba(232, 93, 117, 1)',
                    borderWidth: 1
                }

                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
  </div>
</body>

</html>