<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <title>CLOUDY</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<div class="navigation">
  <a class="nav" href="/home">Home</a>
  <a class="nav" href="/stations">Stations</a>
  <label for="search" class="input--search">
    <input id="search" name="search"  type="text" placeholder="search..">
  </label>
</div>
  <div class="container">
    <div class="wrapper">
      <button class="button"><a th:href="@{/vilnius}">Vilnius Station</a></button>
      <button class="button"><a th:href="@{/kaunas}">Kaunas Station</a></button>
      <button class="button"><a th:href="@{/klaipeda}">Klaipeda Station</a></button>
    </div>

  </div>
</body>

</html>